@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    min-height: 100vh;
}

.container{
    width: 90%;
    margin: 30px auto;
    /* box-shadow: 0 3px 8px  rgba(0, 0, 0, 0.24); */
    background-color: #fff;
    border-radius: 20px;
}

.chatInterface{
    width: 100%;
    margin: auto;
}

.container h1{
    text-align: center;
    font-weight: 800;
    margin: 20px 0;
}



.detectLang, .loading{
    margin-left: 70px;
    margin-top: 20px;
}



.chatInterface .chatBoxCont{
    width: 90%;
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 3px 8px  rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    padding: 10px;
    line-height: 1.5;
    margin: 10px auto;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 90%;
    margin: 20px auto;
}


.chatInterface .info .summaryBtn{
    background-color: blue;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 20px;
}

.chatInterface .info .translateBtn{
    background-color: blue;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 20px;
}


.buttons button:hover{
    transform: scale(1.1);
    background-color: grey;
}

.buttons select{
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
}


.textInput{
    width: 90%;
    margin: 20px auto;
}

.textInput textarea{
    width: 100%;
    box-shadow: 0 3px 8px  rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    padding: 10px;
    outline: none;
}

.textInput .send{
    padding: 5px 8px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}


.input-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media(max-width:700px){
    .buttons{
        flex-direction: column;
        gap: 20px;
    }
    
}